@import url(./reset.css);

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    color: rgb(80, 80, 80);
}

#loaderOverlay{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255, 0.98);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#loader{
    width: 200px;
    height: 200px;
    background-image: url(../assets/icon.png);
    background-size: cover;
    animation: spin 3s linear infinite;
}

#loader-small{
    width: 80px;
    height: 80px;
    background-image: url(../assets/icon.png);
    background-size: cover;
    animation: spin 3s linear infinite;
}

.loaded{
    opacity: 0;
    transition: ease-out 1s;
    transform: translateY(-100%);
}

.d-none{
    display: none;
}

@keyframes spin {
    0% {transform: rotate(0deg); }
    100% {transform: rotate(360deg); }
}

header{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
}

h1 {
    color: rgb(97, 160, 34);
    padding: 30px 0 0 30px;
    font-size: 56px;
}

#messageBoardContainer{
    width: 60%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#messageBoard{
    font-weight: bold;
    color: rgb(97, 160, 34);
    font-size: 20px;
    max-width: 650px;
    padding-left: 50px;
    letter-spacing: 1px;
    line-height: 26px;
}

.welcome{
    font-size: 40px;
    margin-bottom: 30px;
}

h2{
    font-size: 30px;
    margin-bottom: 10px;
}

.squ {
    border: 1px solid rgb(80, 80, 80);
}

.selectingBoat {
    border: 1px solid rgb(225, 232, 221);
    background-color: rgb(163, 213, 138);
}

.selectingBoat:hover {
    border: 1px solid rgb(225, 232, 221);
    background-color: rgb(163, 213, 138);
    cursor: pointer;
}

.hitSqu {
    border: 1px solid rgb(225, 225, 225);
    background-color: rgb(255, 156, 126);
    transition: ease-in 0.2s;
}

.missSqu {
    border: 1px solid rgb(225, 225, 225);
    background-color: rgb(191, 214, 226);
    /*background: url(../assets/wave.png) no-repeat;
    background-size: cover; */
    transition: ease-in 0.2s;
}

.userBoat {
    border: 1px solid rgb(225, 225, 225);
    background-color: rgb(130, 168, 110);
    transition: ease-in 0.2s;
}

#userBoard, #aiBoard  {
    display: grid;
    grid-template-columns: repeat(10, 42px);
    grid-template-rows: repeat(10, 42px);
    gap: 0;
}

#aiBoard .squ:hover{
    cursor: pointer;
}

#dirButtonContainer{
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gameContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 30px 0 10px 0;
}

#dirButtonContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: 0%;
    padding: 0.5em 0 0 0;
}

#dirButton{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(80, 80, 80);
    background-color: rgb(163, 213, 138);
    border: 1px solid;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 2px;
    font-size: 16px;
}

#dirButton:hover{
    background-color: rgb(118, 155, 100);
    cursor: pointer;
    transition: ease-in 0.2s;
    color: white;
}

#boardsContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.playerContainer {
    padding: 0 60px 0 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scores{
   margin: 0 0 15px 0;
   padding: 0 7px 5px 7px;
   font-weight: bold;
   width: fit-content;
   color: rgb(97, 160, 34);
   border-radius: 2px;
}

footer{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    padding: 10px;
    position: fixed;
    bottom: 0;
}